/* General */
@font-face {
  font-family: 'Anaktoria';
  src: url('Anaktoria.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amsterdam';
  src: url('AmsterdamThree.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Anaktoria', Helvetica, sans-serif;
    background: radial-gradient(circle at 50% 50%, #89b9c6, #415772);
}

/* Header */
header
{
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 30px;
    font-family: 'Amsterdam', sans-serif;
}

h1
{
    align-items: center;
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
}

.p-header
{
  text-align: center;
  font-family: 'Anaktoria', Helvetica, sans-serif;
  font-size: 25px;
  color: #FFFFFF;
}

.navbar
{
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.nav-button
{
  text-decoration: none;
  font-family: 'Anaktoria', Helvetica, sans-serif;
  background-color: #362C5D;
  color: white;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  font-size: 18px;
}

.nav-button:hover
{
    background-color: #7995ae;
    color: #232e54;
}

/* Section: La femme du mois */
.femme-du-mois
{
    display: flex;
    padding: 120px 0 120px 0;
}

.left-block
{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #FFFFFF;
}

.left-block h2
{
  position: absolute;
  bottom: 23%;
  left: 10%;
  margin: 0;
  font-size: 30px;
}

.left-block img
{
  max-width: 70%;
  height: auto;
  margin: 50px auto;
  display: block;
}
  
.right-block
{
  flex-basis: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
}

.right-block h1
{
  position: absolute;
  bottom: 23%;
  left: 55%;
  color: #232e54;
  margin-bottom: 30px;
  font-size: 3em;
}
  
.right-block p
{
  color: #232e54;
  font-size: 22px;
  padding: 0 50px 20px 50px;
}

.right-block .more-link
{
  color: #232e54;
  text-decoration: underline;
  cursor: pointer; 
  padding: 0 50px 0 50px;
}

/* Section: Qui sommes-nous ? */
.qui-sommes-nous
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0 100px 0;
  background-color: #FFFFFF;
}

.left-column
{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #232e54;
}

.left-column h1
{
  font-size: 3em;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #232e54;
}

.grande-image
{
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.left-column p
{
  font-size: 22px;
  padding: 0 50px;
  margin-top: 20px;
}


.right-column
{
  padding-top: 10%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article
{
  display: flex;
  align-items: center;
  background: radial-gradient(circle at 50% 50%, #89b9c6, #415772);
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.article-image
{
  width: 30%;
  border-radius: 10px;
  margin-right: 10px; 
  padding: 5px;
}

.article-info
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.article-title
{
  color: #FFFFFF;
  font-size: 22px;
}

.read-more-btn
{
  background-color: #362C5D;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.read-more-btn:hover
{
  background-color: #7a8da1;
}

@media (max-width: 768px)
{
  .article
  {
    flex-direction: column;
    align-items: flex-start;
  }

  .article-info
  {
    align-items: flex-start;
  }
}

/* Section: Actualites */
.actualites-section
{
  text-align: center;
  padding: 150px;
}

.actualites-title
{
  font-size: 3em;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.actualites-content
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actualite-item
{
  flex-basis: 30%;
  margin: 0 10px;
  position: relative;
}

.actualite-item img
{
  width: 100%;
  height: auto;
  display: block;
}

.actualite-item h2
{
  background-color: #514b69;
  color: #FFFFFF;
  padding: 20px;
  margin-top: -10px;
}

.event-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) 
{
  .actualites-content
  {
    flex-direction: column;
  }

  .actualite-item
  {
      flex-basis: 100%;
      margin-bottom: 20px;
  }
}

/* Section: Rejoignez-nous! */
.join-us-section
{
  display: flex;
  justify-content: space-between;
  padding: 120px;
  color: #FFFFFF;
}

.join-us-left, .join-us-right
{
  flex-basis: 50%;
}

.join-us-left h1
{
  color: #FFFFFF;
  margin-bottom: 20px;
  font-size: 3em;
}

.join-us-left p
{
  font-size: 22px;
  padding: 50px;
}

.join-us-right .join-us-form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px;
}

.form-field
{
  position: relative;
  margin-bottom: 40px;
  width: 100%; 
}

.form-field input
{
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-field label
{
  width: 20%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #362C5D;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  white-space: nowrap; 
}

.form-field input:focus + label,
.form-field input:not(:placeholder-shown) + label
{
  top: -20px;
  left: 15px;
  font-size: 14px;
  padding: 5px 15px;
}

.submit-button
{
  background-color: #362C5D;
  color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Anaktoria', Helvetica, sans-serif;
  font-size: 18px;
  width: 50%;
  margin-top: 20px;
}

/* Section Contact */
.contact-section
{
  position: relative;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.contact h1
{
  font-family: 'Anaktoria', Helvetica, sans-serif;
  font-size: 3em;
}

.footer-hand
{
  position: absolute;
  top: 40px;
  right: 0;
  width: 1080px;
  height: 620px;
  z-index: -1;
}

.footer-social-icons
{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-social-icons a
{
  display: inline-block;
}

.footer-social-icons img
{
  width: 50px;
}

.footer-email
{
  display: block;
  color: #FFFFFF;
  font-size: 2em;
  margin-top: 20px;
}

/* Style pour le bouton Retour en haut */
.back-to-top
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #89b9c6;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none; 
  font-weight: bold;
  z-index: 1000;
}

.back-to-top:hover
{
  background-color: #7a8da1; 
}

@media (max-width: 768px)
{
  .back-to-top
  {
    bottom: 10px;
    right: 10px;
  }
}
